{% extends 'restaurant/base.html' %}
{% load static %}

{% block title %}Plato - {{ plato.nombre }}{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<h3>
    <a class="volver" href="/">Volver al Inicio</a>
</h3>
<div>
    <h2>{{ plato.nombre }}</h2>
    <div class="menu-container"style="margin-left: 0; margin-right: auto;">
        <p><strong>Categoría:</strong> {{ plato.categoria }}</p>
        <p><strong>Precio:</strong> ${{ plato.precio }}</p>
        <p><strong>Descripción:</strong> {{ plato.descripcion }}</p>
    </div>
    
    <form class="menu-form" action="{% url 'eliminar_plato' plato.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button class="boton-de-menu" type="submit">Eliminar Plato</button>
    </form>
    <form action="{% url 'editar_plato' plato.id %}" method="get" style="display:inline;">
        <button class="boton-de-menu" type="submit">Editar Plato</button>
    </form>
    <p>
    <a class="volver" href="{% url 'menu' %}">Volver al Menú</a> 
    </p>
</div>
{% endblock %}

